@{
    // var title = ViewContext.RouteData.Values["action"].ToString();
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
